<!DOCTYPE html>
<head>
	<title>Bot Cam</title>
</head>
<body>
	<center><img id="bg" src="{{ url_for('video_feed') }}" width=auto height=auto></img></center>
	<p id="text"></p>
</body>
<script type="text/javascript">
	/*function feed() {
        $.ajax({
            url: '/feed',
            data: $('form').serialize(),
            type: 'POST',
            success: function(response) {
                //console.log(response);
                //battery=response.substr(1,response.length-2);
                //console.log(battery);
                //battery="My battery level is at " +battery
                document.getElementById("text").innerHTML =response;
            },
            error: function(error) {
                console.log(error);
            }
        });
    }*/
    //window.setInterval(bg, 100);
    function autoRefresh()
    {
        window.location = window.location.href;
    }

    //setInterval('autoRefresh()', 5000); // this will reload page after every 5 secounds; Method I
</script>